<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.college.common.web.t2b.dao.T2BDao">
	
	<select id="listTables" parameterType="com.online.college.common.web.t2b.T2BVO"  resultType="java.lang.String">
		SELECT Table_Name From information_schema.TABLES where TABLE_SCHEMA = 'ocdb' AND Table_Name like '${prefix}%'
	</select>
	
	<select id="listTableCols" parameterType="com.online.college.common.web.t2b.T2BVO" resultType="com.online.college.common.web.t2b.T2BVO">
		SELECT COLUMN_NAME as colName, COLUMN_TYPE as colType, COLUMN_COMMENT as colComment
		From information_schema.COLUMNS 
		WHERE TABLE_SCHEMA = 'ocdb' and TABLE_NAME = '${tableName}';
	</select>
	
	<select id="getCurrentTimestamp" resultType="java.lang.String">
		select current_timestamp() from dual
	</select>
	
</mapper>
